# default folders
Desktop/ 
Downloads/
Pictures/
Documents/
Videos/

# other folders
Obsidian Vault/
SoftMaker/

# dotfiles
.autojump/
.XAuthority
.bash_history
.bash_logout
.bash_profile
.zshrc
.zoom/

# configs
.config/QtProject.conf
.config/Signal
.config/Thunar
.config/keepassxc
.config/KDE/
.config/Microsoft/
.config/Trolltech.conf
.config/Unknown Organization/
.config/akonadi-firstrunrc
.config/akonadi-migrationrc
.config/akonadi/
.config/akonadi_akonotes_resource_0rc
.config/akonadi_contactrc
.config/akonadi_contacts_resource_0rc
.config/akonadi_ical_resource_0rc
.config/akonadi_indexing_agentrc
.config/akonadi_maildir_resource_0rc
.config/akregatorrc
.config/arkrc
.config/autostart/
.config/baloofileinformationrc
.config/baloofilerc
.config/bluedevilglobalrc
.config/bluedevilreceiverrc
.config/cef_user_data/
.config/dconf/
.config/defaultcalendarrc
.config/discord/
.config/discoverrc
.config/dolphinrc
.config/emaildefaults
.config/emailidentities
.config/gtk-3.0/
.config/gtk-4.0/
.config/gtkrc
.config/gtkrc-2.0
.config/gwenviewrc
.config/i3/
.config/k3brc
.config/kactivitymanagerd-statsrc
.config/kactivitymanagerdrc
.config/kaddressbookrc
.config/kalendaracrc
.config/kalendarrc
.config/katemetainfos
.config/katerc
.config/kateschemarc
.config/katevirc
.config/kcminputrc
.config/kconf_updaterc
.config/kde.org/
.config/kdeconnect/
.config/kded5rc
.config/kdedefaults/
.config/kdeglobals
.config/kdenlive-layoutsrc
.config/kdenliverc
.config/kfontinstuirc
.config/kfontviewrc
.config/kgammarc
.config/kglobalshortcutsrc
.config/khotkeysrc
.config/khtml/
.config/kiorc
.config/kmail2rc
.config/kmailsearchindexingrc
.config/kmenueditrc
.config/kmixctrlrc
.config/kmixrc
.config/kokorc
.config/konq_history
.config/konquerorrc
.config/konsolerc
.config/konsolesshconfig
.config/krunnerrc
.config/kscreenlockerrc
.config/ksmserverrc
.config/ksplashrc
.config/ktimezonedrc
.config/kwalletrc
.config/kwinrc
.config/kwinrulesrc
.config/kwriterc
.config/kxkbrc
.config/latte/
.config/lattedockrc
.config/libaccounts-glib/
.config/libinput-gestures.conf
.config/merkuro.calendarrc
.config/mimeapps.list
.config/ncspot/
.config/nvim-undo/
.config/nvim/after/plugin/comment.lua
.config/nvim/after/plugin/lsp-config.lua
.config/obs-studio/
.config/obsidian/
.config/okularpartrc
.config/okularrc
.config/plasma-localerc
.config/plasma-nm
.config/plasma-org.kde.plasma.desktop-appletsrc
.config/plasma-welcomerc
.config/plasmanotifyrc
.config/plasmarc
.config/plasmashellrc
.config/powerdevilrc
.config/powermanagementprofilesrc
.config/pulse/
.config/sddmthemeinstallerrc
.config/session/
.config/specialmailcollectionsrc
.config/spectaclerc
.config/systemsettingsrc
.config/trashrc
.config/user-dirs.dirs
.config/user-dirs.locale
.config/webengineurlinterceptoradblockrc
.config/xfce4/
.config/xsettingsd/
.config/zoom.conf
.config/zoomus.conf

.ViberPC/
.Xauthority
.bashrc
.cache/
.dmrc
.fonts.conf
.fonts/
.gitconfig
.gtkrc-2.0
.histfile
.icons/
.local/
.mozilla/
.npm/
.p10k.zsh
.pki/
.pulse-cookie
.pyenv/
.python_history
.steam/
.steampath
.steampid
.tmux/
.vim-bookmarks
.vim/
.viminfo
.xinitrc
.xsession-errors
.xsession-errors.old
.zcompdum

# etc
clones/
books/
projects/
cache/
notes.md
