snippet sx "PROPS: style"
		sx={{$1}}
snippet 1 "CUSTOM: custom log"
		console.log(1)
snippet 2 "CUSTOM: custom log"
		console.log(2)
snippet 3 "CUSTOM: custom log"
		console.log(3)
snippet 4 "CUSTOM: custom log"
		console.log(4)
snippet 5 "CUSTOM: custom log"
		console.log(5)
