# =========================
# Contents
#
#  =DB
#  =CUSTOM
#
# =========================

snippet destroy_all "DB"
		Model::destroy_all
snippet dummy "CUSTOM: output text with style"
		puts "=========================================="
		puts $1
		puts "=========================================="
