{{- if eq .chezmoi.config.env.distro "arch" -}}
com.discordapp.Discord
com.github.IsmaelMartinez.teams_for_linux
com.obsproject.Studio
com.slack.Slack
com.spotify.Client
com.valvesoftware.Steam
com.viber.Viber
org.libreoffice.LibreOffice
us.zoom.Zoom
{{- end -}}
