{{- if eq .chezmoi.config.env.distro "arch" -}}
autojump
aws-cli-bin
brave-bin
docker-desktop
espanso-wayland-git
fnm
google-chrome
hcledit
ngrok
obs-backgroundremoval
onnxruntime-cpu
plasma6-applets-panel-colorizer
postgresql17
postman-bin
python-inquirerpy
terraform-docs
tfenv
tflint-bin
vagrant
ventoy-bin
visual-studio-code-bin
wkhtmltopdf-bin
xwaylandvideobridge
zen-browser-bin
{{- end -}}
