{{- if eq .chezmoi.config.env.distro "arch" -}}
autojump
aws-cli-bin
brave-bin
ccze
docker-desktop
espanso-wayland-git
fnm
google-chrome
hcledit
linux-wallpaperengine-git
maliit-keyboard
ngrok
obs-backgroundremoval
onnxruntime-cpu
plasma6-applets-panel-colorizer
postgresql17
postman-bin
python-inquirerpy
reiserfsprogs
terraform-docs
tfenv
tflint-bin
vagrant
ventoy-bin
visual-studio-code-bin
wkhtmltopdf-bin
xwaylandvideobridge
zen-browser-bin
{{- end -}}
