{{- if eq .chezmoi.config.env.distro "arch" -}}
accountsservice
alacritty
alsa-firmware
alsa-plugins
alsa-utils
ark
aspell
b43-fwcutter
base
base-devel
bash-completion
bind
bluedevil
bluez
bluez-utils
breeze-gtk
btrfs-progs
cantarell-fonts
chezmoi
chromium
cryptsetup
ctags
deno
device-mapper
diff-so-fancy
diffutils
dmidecode
dmraid
dnsmasq
docker
dolphin
dolphin-plugins
dosfstools
downgrade
dracut
duf
e2fsprogs
efibootmgr
efitools
endeavouros-branding
endeavouros-keyring
endeavouros-mirrorlist
eos-apps-info
eos-breeze-sddm
eos-hooks
eos-log-tool
eos-packagelist
eos-quickstart
eos-rankmirrors
eos-settings-plasma
ethtool
exfatprogs
f2fs-tools
fastfetch
ffmpegthumbnailer
ffmpegthumbs
firefox
firewalld
flatpak
frameworkintegration5
fwupd
git
git-filter-repo
github-cli
glances
go
gobject-introspection
gst-libav
gst-plugin-pipewire
gst-plugins-bad
gst-plugins-ugly
gwenview
haruna
haveged
hdparm
htop
hwdetect
hwinfo
inetutils
inxi
iptables-nft
iwd
jfsutils
jq
kamoso
kate
kclock
kcmutils5
kcolorchooser
kde-cli-tools
kde-gtk-config
kdeconnect
kdegraphics-thumbnailers
kdenetwork-filesharing
kdenlive
kdeplasma-addons
keepassxc
kernel-install-for-dracut
kfind
kgamma
kimageformats
kinfocenter
kio-admin
kio-extras
kio-fuse
kitty
konsole
kscreen
kvantum
kwayland-integration
lazygit
less
libappindicator
libdvdcss
libgsf
libopenraw
libwnck3
linux
linux-firmware
linux-headers
lnav
logrotate
lsb-release
lsscsi
luarocks
lvm2
lzip
man-db
man-pages
mdadm
meld
mesa-utils
mise
modemmanager
mtools
nano
netctl
networkmanager
networkmanager-openconnect
networkmanager-openvpn
nfs-utils
nilfs-utils
noto-fonts
noto-fonts-cjk
noto-fonts-emoji
noto-fonts-extra
nss-mdns
ntfs-3g
ntp
obsidian
okular
openssh
packagekit-qt6
pacman-contrib
paru
pavucontrol
perl
pipewire-alsa
pipewire-jack
pipewire-pulse
pkgfile
plasma-browser-integration
plasma-desktop
plasma-disks
plasma-firewall
plasma-nm
plasma-pa
plasma-systemmonitor
plasma-workspace
plocate
poppler-glib
postgresql
power-profiles-daemon
powerdevil
print-manager
pv
pyenv
python
python-capng
python-defusedxml
python-packaging
python-pip
python-pyclip
python-pyqt5
python-requests
qbittorrent
rebuild-detector
reflector
reflector-simple
rofi
rsync
rtkit
ruby-build
s-nail
scrcpy
sddm-kcm
sg3_utils
smartmontools
sof-firmware
spectacle
sudo
sysfsutils
systemd-sysvcompat
texinfo
thunderbird
tk
tldr
tmux
ttf-bitstream-vera
ttf-dejavu
ttf-liberation
ttf-opensans
ueberzugpp
unrar
unzip
upower
usb_modeswitch
usbutils
valkey
vim
welcome
wget
which
wireplumber
wpa_supplicant
xclip
xdg-desktop-portal-kde
xdg-user-dirs
xdg-utils
xf86-input-libinput
xfsprogs
xl2tpd
xorg-server
xorg-xdpyinfo
xorg-xinit
xorg-xinput
xorg-xkill
xorg-xrandr
xsettingsd
xterm
yarn
zsh
{{- end -}}
