{{- if eq .chezmoi.config.env.distro "arch" -}}
aws-cli-bin
brave-bin
docker-desktop
espanso-wayland-git
gcc12
gitflow-cjs
google-chrome
hcledit
llama.cpp
localsend-bin
ngrok
oh-my-zsh-git
obs-backgroundremoval
onnxruntime-cpu
plasma6-applets-panel-colorizer
postgresql17
postman-bin
python-inquirerpy
terraform-docs
tfenv
tflint-bin
vagrant
ventoy-bin
visual-studio-code-bin
vscodium-bin
wkhtmltopdf-bin
xwaylandvideobridge
zen-browser-bin
{{- end -}}
